-f file:///home/enda.ridge/.pip-wheelhouse
abstract-rendering==0.5.1
alabaster==0.7.7
anaconda-client==1.4.0
anaconda-navigator==1.1.0
argcomplete==1.0.0
asn1crypto==0.24.0
astropy==1.1.2
aws-xray-sdk==0.95
Babel==2.2.0
beautifulsoup4==4.4.1
bitarray==0.8.1
blaze==0.9.1
bokeh==0.12.0
boto==2.39.0
boto3==1.5.23
botocore==1.8.37
Bottleneck==1.0.0
brewer2mpl==1.4.1
cffi==1.10.0
chest==0.2.3
click==6.7
cloudpickle==0.1.1
clyent==1.2.1
colorama==0.3.7
conda==4.4.8
conda-build==1.18.2
conda-manager==0.3.1
configobj==5.0.6
cookies==2.2.1
cryptography==2.1.4
csvkit==0.9.1
cycler==0.10.0
Cython==0.23.4
cytoolz==0.7.5
dask==0.8.1
datashape==0.5.1
decorator==4.0.9
dill==0.2.4
docker==3.0.1
docker-pycreds==0.2.1
docutils==0.12
dynd==0.7.3.dev1
et-xmlfile==1.0.1
fastcache==1.0.2
Flask==0.10.1
Flask-Cors==2.1.2
gevent==1.1.0
ggplot==0.6.8
greenlet==0.4.9
h5py==2.5.0
HeapDict==1.0.0
idna==2.6
ipykernel==4.3.1
ipython==4.1.2
ipython-genutils==0.1.0
ipywidgets==4.1.1
itsdangerous==0.24
jdcal==1.2
jedi==0.9.0
Jinja2==2.8
jmespath==0.9.3
jsondiff==1.1.1
jsonpickle==0.9.6
jsonschema==2.4.0
jupyter==1.0.0
jupyter-client==4.2.2
jupyter-console==4.1.1
jupyter-core==4.1.0
llvmlite==0.9.0
locket==0.2.0
lxml==3.6.0
MarkupSafe==0.23
matplotlib==1.5.1
mistune==0.7.2
mock==2.0.0
moto==1.2.0
mpmath==0.19
multipledispatch==0.4.8
nbconvert==4.1.0
nbformat==4.0.1
networkx==1.11
nltk==3.2
nose==1.3.7
notebook==5.0.0
numba==0.24.0
numexpr==2.5
numpy==1.10.4
odo==0.4.2
olefile==0.44
openpyxl==2.3.2
pandas==0.18.0
partd==0.3.2
path.py==0.0.0
patsy==0.4.0
pbr==3.1.1
pep8==1.7.0
pexpect==4.0.1
pickleshare==0.5
Pillow==4.2.1
pluggy==0.6.0
ply==3.8
psutil==4.1.0
psycopg2==2.6.1
ptyprocess==0.5
PuLP==1.6.1
py==1.4.31
pyaml==17.12.1
pyasn1==0.1.9
pycosat==0.6.3
pycparser==2.14
pycrypto==2.6.1
pycurl==7.19.5.3
pyflakes==1.1.0
Pygments==2.1.1
pylab==0.1.3
pyOpenSSL==17.0.0
pyparsing==2.0.3
python-dateutil==2.5.1
pytz==2016.2
PyYAML==3.11
pyzmq==15.2.0
QtAwesome==0.3.2
qtconsole==4.2.0
QtPy==1.0
redis==2.10.3
remote-ikernel==0.4.4
requests==2.14.2
rope-py3k==0.9.4.post1
s3rap==0.6
s3transfer==0.1.12
scikit-image==0.12.3
scikit-learn==0.17.1
scipy==0.17.0
seaborn==0.7.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
snowballstemmer==1.2.1
sockjs-tornado==1.0.1
Sphinx==1.3.5
sphinx-rtd-theme==0.1.9
spyder==2.3.8
SQLAlchemy==1.0.12
statsmodels==0.6.1
stevedore==1.28.0
sympy==1.0
tables==3.2.2
teradata==15.10.0.20
terminado==0.5
Theano==0.7.0
toolz==0.7.4
tornado==4.3
tox==2.9.1
traitlets==4.2.1
ujson==1.33
unicodecsv==0.14.1
virtualenv==15.1.0
virtualenv-clone==0.2.6
websocket-client==0.46.0
Werkzeug==0.11.4
wrapt==1.10.11
xlrd==0.9.4
XlsxWriter==0.8.4
xlwt==1.0.0
xmltodict==0.11.0
